*{
    margin: 0;
    padding: 0;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    text-align: center;
    background-color: black;
    overflow-x: hidden;
}
.r1,.r2,.r3,.r4,.r5,.r6,.r7,.r8,.r9,.r10{
    height:49vh;
}
.r1c1,.r2c1,.r3c1,.r4c1,.r5c1,.r6c1,.r7c1,.r8c1,.r9c1,.r10c1{
    height:45vh;
    width:49vw;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
}
.r1c2,.r2c2,.r3c2,.r4c2,.r5c2,.r6c2,.r7c2,.r8c2,.r9c2,.r10c2{
    height:45vh;
    width:49vw;
    border-left: 1vw solid white ;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    color: white;
    margin: 0;
}
.timeline{
    border-collapse: collapse ;
    display: fixed;
    width: 100vw;
}
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9,.b10{
    height:40vh;
    width: 43.5vw;
    text-align: left;
    font-size: 4vmin;
    box-shadow: 0 0 0.5vw rgba(255, 255, 255, 0.5);
    margin: 2.5vw;
}
.i1,.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9,.i10{
    height: 2.5vmin;
    width: 2.5vmin;
    margin-right: 2vmin;
    margin-left: 2vmin;
}
.s1{
    height: 5vmin;
    width: 100%;
    font-size: 3vmin;
    margin-top: 11.8vmin;
}
.done,.done2,.done4,.done6,.done8,.done10,.done12,.done14,.done16,.done18{
    color: green;
    margin-left: 30%;
    display: none;
}
.done1,.done3,.done5,.done19,.done7,.done9,.done11,.done13,.done15,.done17{
    margin-left: 30%;
    display: fixed;
    height: 10%;
    width: 10%;
}
.expand{
    width:10%;
    margin-left: 33.5%;
    font-size: 4rem;
}
.q{
    display: flex;
}
.b11,.b22,.b33,.b44,.b55,.b66,.b77,.b88,.b99,.b101{
    height: 40vh;
    width: 43.5vw;
    text-align: left;
    font-size: 4vmin;
    box-shadow: 0 0 1vmin rgba(0,0,0,0.5);
    margin: 2.5vw;
    /* display:none; */
    animation: opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.footer{
    min-height: 70vh;
    background-color: beige;
    width: 100vw;
}
@keyframes opacity{
        25% {opacity: 1;}
        50% {opacity: 0.7;}
        75% {opacity: 0.6;}
        100% {opacity: 0.5;}
}