

*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 12vh;
    width: 100%;
    background-color: rgb(230, 224, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
     font-family: "Rowdies", sans-serif;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.logname{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    display: flex;
    height: 100%;
    width: 35%;
}
.img{
    height: 100%;
    width: 30%;
}
.home,.login,.help,.about:hover{
    cursor:pointer;
}
.rightnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    padding-left: 30%;
    padding-right: 1%;
    flex-wrap: nowrap;
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    .rightnav{
    display: flex;
    /* justify-content: ; */
    align-items: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 1%;
    flex-wrap: nowrap;
    /* background-color: red; */
    gap: 2px;
}
.navbar{
    height: 12vh;
    width: 100%;
    background-color: rgb(230, 224, 224);
    display: flex;
    /* justify-content: ; */
    align-items: center;
     font-family: "Rowdies", sans-serif;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);




}}