*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 15vh;
    width: 100%;
    background-color: rgb(230, 224, 224);
    display: flex;
    justify-content: space-between;
     font-family: "Rowdies", sans-serif;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     margin: 0;
}
.logname{
    padding-top: 15%;
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.image{
    display: flex;
    height: 100%;
    width: 20vw;
}
.img{
    height: 100%;
    width: 30%;
}
.nowrap{
    white-space: nowrap;
}
.rightnav{
    display: flex;
    gap: 40%;
    padding-top: 3%;
    font-size: 80%;
    padding-right: 30%;
    font-weight: 500;
    padding-bottom: 3%;
}