*{
    margin: 0;
    padding: 0;
}
main{
    margin-top: 12vh;
    font-family: "Mada", sans-serif;
}
body{
    overflow-x: hidden;
}
.banner{
    height: 30vh;
    width: 100vw;
    background-color: #D7EEFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Patua One", serif;
    font-size: 3em;
}
.introtext{
    margin: 1.5vw;
    font-size: 1.1em;
}
.streamintro{
    text-align: center;
    font-family: "Mada", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
}
.streamsel{
    display: flex;
    justify-content: space-between;
    margin: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.science,.commerce,.humanities{
    height: 60vh;
    width: 25vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: solid white;
    border-radius: 25px;
    text-align: center;
}
.exploreintro{
    text-align: center;
    font-family: "Mada", sans-serif;
    font-size: 1.7em;
    font-weight: 600;
}
.explorebut{
    display: flex;
    justify-content: space-between;
    margin: 2vw;
}
.ex1,.ex2,.ex3,.ex4{
    display: flex;
    background-color: #D7EEFB;
    width: 22vw;
    height: 10vh;
    font-family: "Mada", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}
.sbut11,.sbut21,.cbut11,.cbut21{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
    width: 80%;
    height: 35%;
    margin: 3%;
    margin-top: 5%;
    text-decoration: none;
}
.cbut,.sbut{
    display: flex;
    justify-content: center;
    height: 25%;
}
.sbut13,.sbut23{
    font-size: 0.65em;
}
.sbut12,.sbut22{
    font-size: 1.4em;
}
.cbut12,.cbut22{
    font-size: 1.2em;
    text-align: center;
}
.cbut1,.cbut2,.sbut1,.sbut2{
    width: 48%;
    height: 100%;
    background-color: #D7EEFB;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    border-radius: 13px;
}
.hbut{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
    width: 90%;
    height: 10%;
    margin: 5%;
    font-size: 1.2em;
    text-decoration: none;
}
.stop,.ctop,.htop{
    font-size: 2.1em;
    font-weight: 500;
    margin: 5%;
}
.stext,.ctext,.htext{
    height: 46%;
    margin-top: 0%;
    margin: 5%;
    margin-bottom: 7%;
    display: flex;
    font-size: 1.2em;
}
.htext{
    height: 57%;
}