*{
    margin: 0;
    padding: 0;
}
main{
    margin-top: 12vh;
    font-family: "Mada", sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #f4f9fd;
}
.banner{
    height: 70vh;
    width: 100vw;
    background-color: #D7EEFB;
    display: flex;
    align-items: center;
}
.bannertext{
    width: 40vw;
    padding-left: 6vw;
}
.bhead{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 2.7em;
    font-weight: 700;
}
.btext{
    font-family: "Abel", sans-serif;
    line-height: 30px;
    font-size: 1.2em;
}
.introtext{
    margin: 1.5vw;
    font-size: 1.1em;
}
.streamintro{
    text-align: center;
    font-family: "Mada", sans-serif;
    font-size: 3em;
    font-weight: 600;
}
.streamsel{
    display: flex;
    justify-content: space-between;
    margin: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.science,.commerce,.humanities{
    width: 25vw;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f9fbfd;
    border: 1px solid #cfe0f5
}
.sanim{
    width: 10vw;
    padding-top: 1vh;
    height: 25vh;
}
.stop,.ctop,.htop{
    font-size: 2.3em;
    font-weight: 600;
    margin: 2.5%;
    color: #3b5998;
}
.stext,.ctext,.htext{
    display: flex;
    font-size: 1.2em;
    width: 95%;
    color: #5c6b82;
}
.exploreintro{
    text-align: center;
    font-family: "Mada", sans-serif;
    font-size: 2em;
    font-weight: 600;
    padding-top: 5vh;
}
.explorebut{
    display: flex;
    justify-content: space-between;
    margin: 2vw;
}
.exi{
    width: 20vw;
    height: 20vh;
    padding: 2.5vw;
}
.ex1,.ex2,.ex3,.ex4{
    display: flex;
    width: 22vw;
    font-family: "Mada", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    flex-direction: column;
    font-size: 1.3em;
}
.s1,.s2,.c1,.c2,.h1{
    width: 90%;
    height: 10vh;
    background-color:#539fe8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    border-radius: 15px;
    color: white;
    font-size: 1.3em;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.h1{
    font-size: 1.7em;
    margin-top: 20%;
}
.htext{
    margin-top: 5%;
}