*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #E6E0E0;
    /* padding: 2%; */
    display: flex;
    justify-content: space-between;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}
.home,.login,.about,.help{
    font-family: 'Segoe UI', sans-serif;
}