.banner{
    margin-top: 12vh;
    height: 22vh;
    background-color: #D7EEFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-decoration: underline;
    font-family: "M PLUS Rounded 1c", sans-serif;
     font-weight: 300;
  font-style: normal;

}
.datahead{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
   font-family: "mada",sans-serif;

    color: white;
    font-size: 2em;

}
.datadata{
    font-family: "mada",sans-serif;

    color: white;
    letter-spacing: 3px;
    padding-left: 1vw;

}
.imgdata{
    display: flex;
    

}
.animtext{
    display: flex;
   
}
.fullanim{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.anim{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texta{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50vw;
}
.text2{
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.text3{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.text1{
    font-size: 2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.iu{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
   
}
.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 2em;
    text-decoration: underline;
    color: #4E58AD;
    font-weight: 700;

}

.data{
    height: 60vh;
    width: 50vw;
    background-color: #093A81;
    display: flex;
    flex-direction: column;
    gap: 7vh;
}
.image2{
    width: 50vw;
    height: 60vh;
    
}