*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.banner{
    margin-top: 12vh;
    height: 22vh;
    background-color: #D7EEFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.imgdata{
    height: 60vh;
    display: flex;
    width: 100vw;
}
.data{
    height: 60vh;
    width: 50vw;
    background-color: #093A81;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    align-items: center;
    justify-content: center;
}
.datahead{
    font-family: "mada",sans-serif;
    color: white;
    font-size: 2em;
}
.datadata{
    font-family: "mada",sans-serif;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    width: 85%;
    line-height: 25px;
}
.iu{
    width: 50vw;
    height: 60vh;
    object-fit: cover;
}
.animtext{
    display: flex;
}
.fullanim{
    display: flex;
    flex-direction: column;
}
.anim{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texta{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.text2{
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.text3{
    display: flex;
    flex-direction: column;
}
.text1{
    font-size: 2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-decoration: underline;
    color: #4E58AD;
    font-weight: 700;
}
dotlottie-wc{
    overflow-y: hidden;
}