*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 14vh;
    scroll-behavior: smooth;
}
main{
    margin-top: 12vh;
}
body{
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f9fd;
    color: #333;
}
.f1{
    display: flex;
    justify-content: center;
}
.headtext{
    text-align: center;
    font-size: 2.4em;
    color: #05445E;
    padding-top: 2.5%;
}
.textarea{
    width: 92vw;
    margin: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    line-height: 35px;
}
.subjects{
    display: flex;
    flex-direction: column;
}
.sub1,.sub2,.sub3{
    display: flex;
}
.s1,.s2,.s3,.s4,.s5,.s6{
    margin: 1vw;
    padding: 1vw;
    height: 70vh;
    width: 42vw;
    background-color: 	#e2effa;
}
.s7{
    margin: 1vw;
    padding: 1vw;
    height: 40vh;
    width: 88vw;
    background-color: 	#e2effa;
}
.head{
    color: #05445E;
    font-size: 1.7em;
    font-weight: bolder;
    font-weight:700;
}
.head1
{
    font-size: 1.3em;
    color: #05445E;
}
.subhead{
    font-size: 1.3em;
    color: #05445E;
}
.subsubhead{
    font-size: 1.1em;
    color: #05445E;
}
.pointers{
    margin-left: 4.5%;
}
.pointers1{
    margin-left: 4.5%;
    list-style-type:square;
}
.exams{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnf{
    background-color: #e6f0fa;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}
.cnf td{
        border: 1px solid #b3d8e7;
}
.cnf th,.cnf td {
    padding: 1%;
    text-align: center;
    border: 1px solid #b3d8e7;
}
.cnf th{
    background-color: #d0ebf9;
    font-weight: bold;
}
.cnf td:nth-child(1){
    font-weight: 700;
    list-style: square;
    width: 20vw;
}
.cnf td:nth-child(4){
    width: 10vw;
}
.career{
    display: flex;
}
.career1, .career2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.career img{
    width: 42vw;
    padding: 1vw;
}
.career1 div{
    height: 60vh;
    border: 1px solid black;
    margin: 1vw;
}
.career2 div{
    height: 60vh;
    border: 1px solid black;
    margin: 1vw;
}
.career .head1{
    font-size: 1.6em;
}