*{
    margin: 0;
    padding: 0;
}
main{
    margin-top: 12vh;
}
body{
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #f4f9fd;
}
.headtext{
    text-align: center;
    color: #05445E;
    padding-top: 2.5%;
    font-size: 2.4em;
}
.textarea{
    width: 92vw;
    margin: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    line-height: 35px;
}
.head{
    color: #05445E;
    font-size: 1.7em;
    font-weight: 700;
}
.subhead{
    font-size: 1.3em;
    color: #05445E;
}
.subsubhead{
    font-size: 1.1em;
    color: #05445E;
}
.pointers{
    padding-left: 4.5%;
}