*{
    margin: 0;
    padding: 0;
}
main{
    margin-top: 12vh;
    font-family: "Mada", sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #f4f9fd;
}
.headtext{
    text-align: center;
    color: #05445E;
    padding-top: 2.5%;
    font-size: 2.4em;
}
.textarea{
    width: 92vw;
    margin: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    line-height: 35px;
}
.subhead{
    margin-left: 4vw;
    color: #05445E;
    font-size: 1.7em;
}
    
