*{
    margin: 0;
    padding: 0;
}
main{
    margin-top: 12vh;
    font-family: "Mada", sans-serif;
}
body{
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #f4f9fd;
}
.headtext{
    margin-top: 8vw;
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Patua One", serif;
    font-size: 2.4em;
    color: #05445E;
    margin-bottom: 2.2vw;
}
.textarea
{
    line-height: 35px;
    margin: 0vw 1.5vw 0vw 1.5vw;
}
.kys{
    display: block;
    margin: 3vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    line-height: 4.5vh;
    font-size: 1.05em;
}
.MainHead{
    font-family: Arial, Helvetica, sans-serif;
    margin: 3vw;
    margin-top: 0.015vw;
    margin-bottom: 0.4vw;
    font-size: 1.7em;
    color: #05445E;
}
#hr{
    margin: 3vw;
    margin-top: 0.2vw;
}
.subjects
{
    display: flex;
    flex-direction: row;
    background-color: #b3d8e7;
    margin: 3vw;
    margin-top: 1vw;
}
#physics
{
    display: flex;
    width: 42vw;
    padding: 1vw;
    margin-left: 3vw;
    background-color:#e2effa;
}
#chemistry
{
     display: flex;
    width: 42vw;
    padding: 1vw;
    margin-left: 3vw;
    background-color:#e2effa;
}
#mathematics
{
      display: flex;
    width: 42vw;
    padding: 1vw;
    margin-left: 3vw;
    background-color:#e2effa;
}
#english
{
      display: flex;
    width: 42vw;
    padding: 1vw;
    margin-left: 3vw;
    background-color:#e2effa;
}
#optional
{
       display: flex;
    width: 42vw;
    padding: 1vw;
    margin-left: 3vw;
    background-color:#e2effa;
}
.sub1 .sub2
{
    display: flex;
}
.s1 .s2 .s3 .s4
{
    display: flex;
    margin: 1vw;
    padding: 1vw;
    width: 42vw;
    background-color: 	#e2effa;
}
.subhead{
    font-size: 1.4em;
    color: #05445E;
}
.subsubhead
{
    color: #05445E;
    font-size: 1.2em;
}
.f1{
    display: flex;
    justify-content: center;
}
.pointers
{
    margin-left: 4.5%;
}
#exams
{
    color: #05445E;
}
.exams
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cnf
{
    background-color: #e6f0fa;
    border-collapse: collapse;
    width: 94%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}
.cnf td{
        border: 1px solid #b3d8e7;
}
.cnf th,.cnf td {
    padding:1% 0.5% 1% 0.5% ;
    text-align: center;
    border: 1px solid #b3d8e7;
}
.cnf th{
    background-color: #d0ebf9;
    font-weight: bold;
}
.cnf td:nth-child(1){
    font-weight: 700;
    list-style: square;
}